<h1>Shopping List</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="cunrrent list" class="list">
        <input type="text" id="currentListInput" placeholder="Title..." [(ngModel)]="currentItemInput">
        <button (click)="addToCurrentList()" class="addBtn">Add</button>
        <ul id="currentList">
          <li *ngFor="let c of currentlist"> <span>{{c.ItemName}}</span>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
      <button id="move-right" class="btn btn-success btn-lg"> >></button>
      </div>
      <div class="row">
      <button id="move-left" class="btn btn-success btn-lg"><<</button>
    </div>
    </div>

    <div class="col-sm">
      <div id="previous list" class="list">
        <input type="text" id="PerviousListInput" placeholder="Title..." [(ngModel)]="previousItemInput">
        <button (click)="addToPreviousList" class="btn btn-success">Add</button>
        <ul id="PreviousList">
          <li *ngFor="let p of previouslist"> <span>{{p.ItemName}}</span>
        </ul>
      </div>
    </div>
  </div>
</div>
